@charset "utf-8";
 body {
}
.container header {
    background-color: #F940BF;
}.container header nav {
}
.container #hero {
    background-image: url(images/pic4.jpg);
}
.container #about  {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(16,110,187,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(16,110,187,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(16,110,187,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(16,110,187,1.00) 100%);
}
